/**
 * @file
 * Supplementary stylesheet for Date Repeat module.
 */

/* The exposed Views form doesn't need some of these styles */
.container-inline-date .date-padding {
  float: left;
}
fieldset.date-combo .container-inline-date .date-padding {
  padding: 10px;
}
.views-exposed-form .container-inline-date .date-padding {
  padding: 0;
}

.date-prefix-inline {
  display: inline-block;
}

.date-clear {
  clear: both;
  display: block;
  float: none;
}

.date-no-float {
  clear: both;
  float: none;
  width: 98%;
}

.date-float {
  clear: none;
  float: left;
  width: auto;
}

/* Add space between date option checkboxes ('All day' & 'Collect End Date') */
.date-float .form-type-checkbox{
  padding-right: 1em;
}

/* Add space between the date and time portions of the date_select widget. */
.form-type-date-select .form-type-select[class*=hour] {
  margin-left: .75em; /* LTR */
}

.date-form-element-content-multiline {
  padding: 10px;
  border: 1px solid #CCC;
}
